body, html {
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
    overflow: hidden;
}
.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    height:     auto;       
    min-height: 100%;
    margin:     0px auto;
    padding:    0px auto;
}
.logo{
    margin-left: 10%;
    margin-top: 8%;
    font-family: sans-serif;
}
.element1{
    margin-top: -8%;
    margin-left: 70%;
}
.element2{
    position: absolute;
    margin-top: 45%;
    transform: translateY(-50%);
}
.element3{
    position: absolute;
    margin-left: 100%;
    transform: translateX(-100%);
    margin-top: 35%;
}
.cards{
    margin-top: 2%;
    /* background-color : aqua; */
    height: 200px;
    margin-left: 15%;
    margin-right: 20%;
    display: flex;

}
.card{
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 80%;
    width: 250px;
}

.one{
    background-color: #CEF3FF;
}
.two{
    background-color: #FFECD6;
    margin-left: 50%;
}

.three{
    background-color: #FFE1F1;
    margin-left: 100%;
}