<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smile</title>
    <link rel="stylesheet" href="/static/styles/journal.css">
</head>

<body>
    <div style="display: flex; flex-direction:row; justify-content: center;">
        <h2>Hello &nbsp </h2>
        <h2 id="name">Hello</h2>
        <h2>&nbsp 👋</h2>
    </div>
    <h2 style="margin-top: 0;">Tell Us About Your Day</h2>
    <p>You can tell me anything. Feel free to write all you like.</p>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-75">
                    <textarea id="subject" name="jentry" placeholder="Write something.."
                        style="height:400px"></textarea>
                </div>
            </div>
                <div class="row">
                </div>
        </form>
        <a href="/graph">
        <button onclick="storejournal()">submit</button>
        </a>
    </div>
    <script>
    function storejournal() {

        // alert(input)
        const value = document.getElementById("subject").value;
        console.log(value);
        var obj = new FormData();
        obj.append("jentry",value);
        obj.append("name",localStorage.getItem("uname"));
        const URL = '/journal';
        const xhr = new XMLHttpRequest();
        xhr.open('POST', URL);
        xhr.send(obj);
    }
        </script>
    <script type="text/javascript" src="/static/scripts/script.js"></script>
</body>

</html>