<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/journal.css">
</head>
<body>
    <h2>Tell Us About Your Day</h2>
    <p>You can tell me anything. Feel free to write all you like.</p>
    
    <div class="container">
        <form method="POST" action="">
            <!-- <div class="row">
                <div class="col-25">
                    <label for="lname">Last Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                </div>
            </div> -->
            <div class="row">
                <!-- <div class="col-25">
                    <label for="subject">Subject</label>
                </div> -->
                <div class="col-75">
                    <textarea type ="text" id="subject" name="jentry" placeholder="Write something.." style="height:200px"></textarea>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>