<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>SMILE</title>
  <!-- <i class="fas fa-laugh-beam"></i> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles/style.css" />
  <link rel="stylesheet" href="/static/styles/mobile-style.css">
</head>

<body>
  <header>
    <div class="container-fluid p-0">

      <div class="container text-center">
        <div class="row">
          <div class="col-md-7 col-sm-12 text-white">
            
            <h6>Be Happy</h6>
            <h1>SMILE</h1>
            <p>
              Join our amazing community.
            </p>
            <a href="/user">
              <button style="border-radius: 12px;" class="button"><span>NEXT </span></button>
            </a>
            <br>
          </div>
          <div class="col-md-2 col-sm-12 h-25">
            <img class="back" src="../assets/smile-transparent-background-8.png" alt="Book" />
          </div>
        </div>
      </div>
  </header>
  <main>
    <img src="../assets/mid.svg" alt="">
    <section class="section-3 container-fluid p-0 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h1>We run on Mobile and PC both!!!</h1>
          <br>
          <p>
            SMIT DevBlocks is built on React and currently deployed on Heroku.
          </p>
          <p>
            SMIT DevBlocks is responsive on any and all devices. In order to deploy a local version of our software
            please
            click on the below button to our github repository. Detailed and well documented instructions await you!
          </p>
        </div>
      </div>
      <div  style = "flex-direction: row;" class ="platform row">
        <div class="col-md-7 adj col-sm-12 text-right">
          <div class="desktop shadow-lg">
            <div class="d-flex flex-row justify-content-center">
              <i class="fab fa-github fa-3x py-2 pr-3"></i>
              <div class="text text-left" style="align-self: center;">
                <h3 class="pt-1 m-0">Github</h3>
              </div>
            </div>
          </div>
        </div>
    </section>

    <!-- Section 4 -->
    <section class="section-4">
      <div class="container text-center">
        <h1 class="text-dark">Developer's Corner</h1>
        <p class="text-secondary">SMIT DevBlocks</p>
      </div>
      <div class="team row ">
        <div class="col-md-4 col-12 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="../assets/Aaditya.jpeg" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Aaditya Pal</h3>
              <p class="card-text">
                5 ⭐ CodeChef(2077)
              </p>
              <p class="card-text">
                Learning every day! <br> Mentor at Innovision Competitive Club (SMIT) Chegg Expert
              </p>
              <a href="https://www.linkedin.com/in/aaditya-pal-7903/"
                class="text-secondary text-decoration-none">MORE</a>
              <p class="text-black-50">Web Dev</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-8 text-center">
          <div class="card mr-2 d-inline-block shadow-lg">
            <div class="card-img-top">
              <img src="../assets/Rwishav.jpeg" class="img-fluid border-radius p-4" alt="">
            </div>
            <div class="card-body">
              <h3 class="card-title">Rwishav Ghosh</h3>
              <p class="card-text">
                2 ⭐ CodeChef(1590)
              </p>
              <p class="card-text">
                I am a young and enthusiastic software developer learning to write clean and efficient code.
              </p>
              <a href="https://www.linkedin.com/in/rwishav/" class="text-secondary text-decoration-none">MORE</a>
              <p class="text-black-50">Web Dev</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <div class="container-fluid p-0">
      <div class="row text-left">
        <div class="col-md-5 col-sm-5">
          <h4 class="text-light">About us</h4>
          <p class="text-muted">We are a blogging website</p>
          <p class="pt-4 text-muted">Copyright ©2021 All rights reserved
          </p>
        </div>
        <div class="col-md-5 col-sm-12">
          <h4 class="text-light">Newsletter</h4>
          <p class="text-muted">Stay Updated</p>
          <form class="form-inline">
            <div class="col pl-0">
              <div class="input-group pr-5">
                <input type="text" class="form-control bg-dark text-white" id="inlineFormInputGroupUsername2"
                  placeholder="Email">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fas fa-arrow-right"></i>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-2 col-sm-12">
          <h4 class="text-light">Follow Us</h4>
          <p class="text-muted">Let us be social</p>
          <div class="column text-light">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="./main.js"></script>
</body>

</html>