@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
body{
  margin: 0px;
  padding: 0px;
}
.footer {
  width: 100%;
  margin-bottom: -100px;
  background-color: #113b47;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: "Nunito", sans-serif;
}
.items {
  height: 250px;
  width: 350px;
  margin-top: 20px;
  color: whitesmoke;
}
.head {
  font-size: 32px;
}
.list {
  list-style-type: square;
}
.list li {
  margin-top: 15px;
}
.aa {
  color: whitesmoke;
  text-decoration: none;
}
