@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.all {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nunito", sans-serif !important;
}
.main-land-1 {
  width: 100%;
  min-height: 50vh;
  padding-bottom: 4rem;
  background-color: #1e3d59;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.head {
  position: relative;
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 1050px) {
  .head {
    width: 95%;
    margin: auto;
  }
}

.childhead {
  margin-top: 10%;
  margin-left: 0%;
  margin-left: 5%;
}
.logo {
  text-align: left;
  width: 100%;
}

.logo h2 {
  font-family: "Audiowide", Courier, monospace;
  font-size: 4.5rem;
  margin: 0;
  color: #ff6e40;
  opacity: 1;
}
@media only screen and (max-width: 410px) {
  .logo h2 {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 340px) {
  .logo h2 {
    font-size: 3.1rem;
  }
}

.logo div:nth-of-type(2) h2 {
  margin-top: -5%;
}

.text {
  width: 70%;
  font-weight: bold;
  text-align: left;
  font-family: "Amaranth", sans-serif !important;
  align-self: center;
  color: whitesmoke;
  opacity: 0;
  animation: fadeIn 0.7s ease-out 1.7s forwards;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.text h3 {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0px;
}

.text h4 {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}

.join {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: left;
}

.img1 {
  height: 80%;
  width: 26vw;
  float: left;
  margin-top: 10vh;
  background-repeat: no-repeat !important;
}
.img2 {
  width: 17vw;
  height: 80%;
  margin-right: 5vw;
  float: right !important;
  margin-top: 8vh;
  background-repeat: no-repeat;
  background-size: contain;
}

.btn-1,
.btn-2 {
  display: block;
  width: 100px;
  padding: 15px 25px;
  text-align: center;
  margin-right: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 1px;
  text-decoration: none;
  color: white;
  background-color: #ff7f50;
  cursor: pointer;
}

.image-1 {
  width: 40%;
  position: relative;
  box-sizing: border-box;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  overflow: hidden;
}
@media only screen and (max-width: 1050px) {
  .image-1 {
    display: none;
  }
}
.img {
  background-position: center;
  background-size: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 90%;
  height: 80%;
  background-repeat: no-repeat;
}

.row {
  width: 85%;
  margin: auto;
  margin-top: 14vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media only screen and (max-width: 900px) {
  .row {
    flex-direction: column;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
.card1 {
  width: 25vw;
  height: auto;
  background-color: #f76a8c;
  color: white;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding-bottom: 2%;
}
.card2 {
  width: 25vw;
  height: auto;
  background-color: #f76a8c;
  color: white;
  font-family: "Nunito", sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  padding-bottom: 2%;
}
.card3 {
  width: 25vw;
  height: auto;
  background-color: #f76a8c;
  color: white;
  font-family: "Nunito", sans-serif !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
@media only screen and (max-width: 900px) {
  .card1,
  .card2,
  .card3 {
    width: 80%;
    min-height: 30vh;
    margin: auto;
    margin-top: 6vh;
  }
}
.c-head {
  color: black;
  width: 100%;
  text-align: center;
  background-color: white;
  display: inline-block;
}
.c-body {
  padding: 20px;
  text-align: justify;
}
.main-land-3 {
  width: 100%;
  position: relative;
  height: 300px;
  font-family: "Nunito", sans-serif !important;
}
.mid-img {
  margin: auto;
  margin-top: 50px;
  width: 50vw;
  height: 30vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 700px) {
  .mid-img {
    width: 60%;
  }
}
.main-land-4 {
  position: relative;
  background-color: #0779e4;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Nunito", sans-serif !important;
  padding-bottom: 3%;
}
@media only screen and (max-width: 900px) {
  .main-land-4 {
    flex-direction: column;
  }
}
.child1 {
  width: 30%;
  position: relative;
  display: flex;
  justify-content: center;
}
.child2 {
  width: 40%;
  position: relative;
}
@media only screen and (max-width: 900px) {
  .main-land-4 {
    flex-direction: column;
  }
  .child1,
  .child2 {
    width: 100%;
    margin: auto;
  }
  .child1 {
    display: none;
  }
  .cards {
    width: 90%;
    margin: auto;
  }
}
.img-4 {
  background-position: center;
  width: 30vw;
  max-width: 400px;
  height: 80%;
  margin-top: 10%;
  background-repeat: no-repeat;
}
.cards {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.para {
  font-family: "Audiowide", Courier, monospace;
  font-size: 1.1rem;
  padding: 2rem;
  background-color: #fcf8ec;
  color: black;
  border-radius: 5px;
  margin: 5px;
}
/*Cube animation*/

.cube {
  width: 100%;
  height: 100%;
  margin: top 2rem;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: rotatecube 20s infinite;
  -webkit-animation: rotatecube 20s infinite;

  -moz-transform-style: preserve-3d;
  -moz-animation: rotatecube 20s infinite;
}

.cube div {
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  border: none;
  line-height: 200px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
@keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
  25% {
    -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
}
@-webkit-keyframes rotatecube {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
  25% {
    -webkit-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }
  50% {
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
}

@-moz-keyframes rotatecube {
  0% {
    -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
  25% {
    -moz-transform: rotateX(90deg) rotateY(270deg) rotateZ(180deg);
  }
  50% {
    -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }
  75% {
    -moz-transform: rotateX(270deg) rotateY(90deg) rotateZ(360deg);
  }
  100% {
    -moz-transform: rotateX(0deg) rotateY(360deg) rotateZ(90deg);
  }
}

.front {
  background: #ff7171;
}

.back {
  background: #ffaa71;
}

.right {
  background: #145374;
}

.left {
  background: rgba(0, 255, 255, 0.8);
}

.top {
  background: #ffd571;
}

.bottom {
  background: #00bcd4;
}

.cube .front {
  transform: rotateY(0deg) translateZ(100px);
  -webkit-transform: rotateY(0deg) translateZ(100px);
  -moz-transform: rotateY(0deg) translateZ(100px);
}
.cube .back {
  transform: rotateX(180deg) translateZ(100px);
  -webkit-transform: rotateX(180deg) translateZ(100px);
  -moz-transform: rotateX(180deg) translateZ(100px);
}
.cube .right {
  transform: rotateY(90deg) translateZ(100px);
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
}
.cube .left {
  transform: rotateY(-90deg) translateZ(100px);
  -webkit-transform: rotateY(-90deg) translateZ(100px);
  -moz-transform: rotateY(-90deg) translateZ(100px);
}
.cube .top {
  transform: rotateX(90deg) translateZ(100px);
  -webkit-transform: rotateX(90deg) translateZ(100px);
  -moz-transform: rotateX(90deg) translateZ(100px);
}
.cube .bottom {
  transform: rotateX(-90deg) translateZ(100px);
  -webkit-transform: rotateX(-90deg) translateZ(100px);
  -moz-transform: rotateX(-90deg) translateZ(100px);
}
